.admin-layout
{

    .admin-container
    {
        margin-left: 250px;

        .section
        {
            .container { margin: 0; }
            
            padding: 50px;

            h2 { margin-top: 0px; }

            #OrderManagement, #CompletedOrders
            {
                td, th { padding: 10px; }
                h2 { padding-bottom: 30px; }
            }
        }
    }


    .sidenav.mobile-open
    {
        transform: translateX(0) !important;
    }
}