@mixin orangebtn
{
    color: #fff;
    text-transform: uppercase;
    background: #fe4819;
    border: 2px solid #fe4819;
    transition: all 0.3s;
    border-radius: 3px;
}

@mixin orangebtnhover
{
    border-color: #fe704c;
    background: #fe704c;
    color: #fff;
}

#ActiveRentals
{
    font-size: 18px;

    .row { margin: 0; padding: 0; }

    h2
    {
        margin-left: 10px;
        margin-bottom: 30px;
    }

    p
    {
        padding: 0;
        margin: 0;
    }

    .filter
    {
        margin-bottom: 25px;
        margin-left: 10px;

        legend
        {
            font-size: 20px;
            font-weight: 600;
        }

        label { padding-right: 15px; }

        [type="radio"]:checked
        {
            position: unset;
            opacity: 1;
            margin-right: 4px;
        }

        [type="radio"]:not(:checked)
        {
            position: unset;
            pointer-events: all;
            opacity: 1;
            margin-right: 4px;
        }

        button
        {
            @include orangebtn;
            padding: 6px 8px;
            margin-left: 4px;
            &:hover { @include orangebtnhover; }
        }
    }

    .row
    {
        display: flex;
        flex-wrap: wrap;
    }

    .active-single
    {
        display: flex;
        margin: 10px;
        padding: 15px;
        border-radius: 6px;
        box-shadow: 0 0 8px #ff9561;
        flex: 0 0 calc(50% - 20px); // col-6

        .overdue, .tobe
        {
            font-size: 24px;
        }

        .location
        {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .overdue { color: #fe4819; }
    .tobe { color: #2268ff; }

    .photo-check
    {
        display: flex;
        flex-direction: column;
    }

    img
    {
        max-height: 180px;
        border-radius: 3px;
        width: 180px;
        margin-right: 15px;
    }

    .returned
    {
        @include orangebtn;
        padding: 4px;
        width: 180px;
        text-align: center;
        margin-top: auto;

        &:hover { @include orangebtnhover; }
    }

    [type="checkbox"]:not(:checked), [type="checkbox"]:checked
    {
        position: unset;
        pointer-events: all;
        opacity: 1;
        margin-left: 8px;
    }
}