@mixin orangebtn
{
    color: #fff;
    text-transform: uppercase;
    background: #fe4819;
    border: 2px solid #fe4819;
    transition: all 0.3s;
    border-radius: 3px;
}

@mixin orangebtnhover
{
    border-color: #fe704c;
    background: #fe704c;
    color: #fff;
}

@mixin regularbtn
{
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    color: #6c6c6c;
    font-weight: 700;
    background-color: white;
    transition: all 0.3s;
}

@mixin regularbtnhover
{
    color: #fe4819;
    border-color: #fe4819;
}

#BikeFilters
{
    form 
    {
        margin: 20px;
        font-size: 20px;
        display: flex;

        label
        {
            margin-right: 10px;
            position: relative;
            transform: translateY(20%);
        }

        select
        {
            margin-right: 30px;
            background-color: white;
            border: 1px solid black;
            padding: 8px;
            font-size: 20px;
            color: #6b6f82;
            height: 45px;
            border-radius: 3px;
        }

        .Filter 
        {
            @include orangebtn;
            font-size: 20px;
            padding: 0 30px;
        }

        .Filter:hover
        {
            @include orangebtnhover;
        }
    }
}

#FeaturedSearch
{
    form 
    {
        display: flex;

        input 
        {
            font-size: 18px;
            border: 1px solid black;
            padding: 0 10px;
            height: 40px;
            border-radius: 3px;
            min-width: 350px;

            &:focus-visible 
            {
                box-shadow: 0 0 3px #fe4819;
                border-color: #fe4819;
                outline: none;
            }
        }

        button
        {
            @include orangebtn;
            position: relative;
            font-size: 20px;
            margin-left: 15px;
            height: 40px;
            width: 40px;
        }

        button:hover
        {
            @include orangebtnhover;
        }
    }
}