@mixin orangebtn
{
    color: #fff;
    text-transform: uppercase;
    background: #fe4819;
    border: 2px solid #fe4819;
    transition: all 0.3s;
    border-radius: 3px;
}

@mixin orangebtnhover
{
    border-color: #fe704c;
    background: #fe704c;
    color: #fff;
}

@mixin regularbtn
{
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    color: #6c6c6c;
    font-weight: 700;
    background-color: white;
    transition: all 0.3s;
}

@mixin regularbtnhover
{
    color: #fe4819;
    border-color: #fe4819;
}

#BikeManagement
{
    margin: 0;
    font-family: "Oswald", sans-serif;

    img.bikephoto
    {
        max-height: 80px;
        min-width: 80px !important;
    }

    .filter-search
    {
        display: flex;
    }

    form 
    {
        margin: 20px;
        display: flex;

        input 
        {
            font-size: 20px;
            border: 1px solid black;
            padding: 10px;
        }

        button
        {
            @include orangebtn;
            position: relative;
            font-size: 20px;
            padding: 10px;
            margin-left: 15px;
            height: 52px;
            width: 52px;
        }

        button:hover
        {
            @include orangebtnhover;
        }
    }

    tr:nth-child(even)
    {
        background-color: #f4f4f4;
    }

    tr:nth-child(odd) .bikeactions a
    {
        background-color: #f4f4f4;
    }

    th 
    {
        font-size: 20px;
        padding: 20px 30px;
        border-bottom: 1px solid gray;
    }

    td
    {
        padding: 10px 15px;
        font-size: 20px;
        border-bottom: 1px solid gray;

        .bikeactions
        {
            display: flex;
            
            a
            {
                margin: 0 10px;
                padding: 10px;
                width: 100px;
                text-align: center;
                @include regularbtn;

                i
                {
                    color: #6c6c6c;
                    transition: all 0.3s;
                }
            }

            a:hover
            {
                @include regularbtnhover;

                i { color: #fe4819; }
            }
        }

        form.edit-quantity
        {
            display: none;
            position: absolute;
            left: 56.5%;
            background: white;
            padding: 20px;
            border-radius: 3px;
            box-shadow: 0 0 15px rgba(0,0,0,.3);

            button
            {
                padding: 10px;
                width: 100px;
                text-align: center;
                position: relative;
                margin-top: 20px;

                &.update { @include orangebtn; }
                &.update:hover { @include orangebtnhover; }

                &.cancel
                {
                    @include regularbtn;
                    left: 10%;
                }
                &.cancel:hover { @include regularbtnhover; }
            }
        }
    }

    .bike-SKU
    {
        //min-width: 200px;
    }

    .bike-provision, .bike-gears
    {
        text-align: center;
    }

    .bike-model
    {
       // min-width: 200px;
    }

    .Create
    {
        @include orangebtn;
        font-size: 20px;
        padding: 10px 20px;
        margin: 20px;
    }

    .Create:hover
    {
        @include orangebtnhover;
    }
}

#BikeFilters
{
    form 
    {
        margin: 20px;
        font-size: 20px;
        display: flex;

        label
        {
            margin-right: 10px;
            position: relative;
            transform: translateY(20%);
        }

        select
        {
            margin-right: 30px;
            background-color: white;
            border: 1px solid black;
            padding: 8px;
            font-size: 20px;
            color: #6b6f82;
        }

        .Filter 
        {
            @include orangebtn;
            font-size: 20px;
            padding: 10px 30px;
        }

        .Filter:hover
        {
            @include orangebtnhover;
        }
    }
}

#BikeEdit
{
    form 
    {
        padding: 60px;
        font-size: 20px;

        .horizontal { display: flex; }

        .vertical { margin: 15px 60px 15px 0;}

        input, .form-control
        {
            border: 1px solid black;
            padding: 10px;
            border-radius: 0;
            font-size: 20px;

            &#image_path { width: 45%; }

            &:focus-visible 
            {
                box-shadow: 0 0 3px #fe4819;
                border-color: #fe4819;
                outline: none;
            }
        }

        p
        {
            font-size: 20px;
        }

        #price { margin-bottom: 30px; }

        .form-control
        {
            height: 50px;
            width: unset;
        }

        select
        {
            background-color: white;
            border: 1px solid black;
            padding: 10px;
            font-size: 20px;
            color: #6b6f82;

            &#provision_id { margin-bottom: 15px; }
        }

        .Submit 
        {
            @include orangebtn;
            font-size: 20px;
            padding: 10px 30px;
            margin-top: 30px;
        }

        .Submit:hover { @include orangebtnhover; }

        .Cancel
        {
            @include regularbtn();
            font-size: 20px;
            padding: 10px 30px;
            margin-left: 40px;
            margin-top: 30px;
        }

        .Cancel:hover { @include regularbtnhover; }
    }

}