@mixin orangebtn
{
    color: #fff;
    text-transform: uppercase;
    background: #fe4819;
    border: 2px solid #fe4819;
    transition: all 0.3s;
    border-radius: 3px;
}

@mixin orangebtnhover
{
    border-color: #fe704c;
    background: #fe704c;
    color: #fff;
}

@mixin regularbtn
{
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    color: #6c6c6c;
    font-weight: 700;
    background-color: white;
    transition: all 0.3s;
}

@mixin regularbtnhover
{
    color: #fe4819;
    border-color: #fe4819;
}

#MyHistory
{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;

    .no-orders
    {
        padding: 60px;
        border-radius: 8px;
        background-color: #eeeeee;
        text-align: center;
        position: relative;

        p
        {
            font-size: 22px;
        }
    }

    .containers
    {
        margin: 0 10px;
        padding: 20px;
    }

    .order-card
    {
        width: 100%;
        padding: 20px;
        display: flex;
        border-radius: 6px;
        box-shadow: 0 0 8px #fe704c;

        .info
        {
            padding: 0 20px;

            hr
            {
                margin: 6px 0;
            }

            .group
            {
                display: flex;
            }

            h4
            {
                color: #fe4819;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 0;
            }

            p
            {
                padding: 0;
                margin: 0;
            }

            .orderid
            {
                padding-right: 15px;
            }

            .date, .quantity, .price
            {
                font-size: 18px;
                color: #373739;
            }

            .address, .provision
            {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    & img
    {
        max-height: 300px;
        border-radius: 6px;
        width: auto;
    }

    form
    {
        display: flex;
        margin-bottom: 20px;

        select, input
        {
            height: 40px;
            background-color: #fff;
            border: 1px solid #6c6c6c;
            border-radius: 3px;
            margin: 0 3px;
            padding: 0 6px;

            &:focus-visible 
            {
                box-shadow: 0 0 3px #fe4819;
                border-color: #fe4819;
                outline: none;
            }
        }

        button { @include orangebtn; }
        button:hover { @include orangebtnhover; }
    }
}