@mixin orangebtn
{
    color: #fff;
    text-transform: uppercase;
    background: #fe4819;
    border: 2px solid #fe4819;
    transition: all 0.3s;
    border-radius: 3px;
}

@mixin orangebtnhover
{
    border-color: #fe704c;
    background: #fe704c;
    color: #fff;
}

@mixin regularbtn
{
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    color: #6c6c6c;
    font-weight: 700;
    background-color: white;
    transition: all 0.3s;
}

@mixin regularbtnhover
{
    color: #fe4819;
    border-color: #fe4819;
}

#OrderManagement
{
    .search 
    {
        padding-right: 15px;
        &:last-child { padding-right: 0; }
        
        form
        {
            display: flex;

            select, input
            {
                height: 30px;
                background-color: #fff;
                border: none;
                border-radius: 3px;
                margin-right: 6px;
                padding: 0 6px;

                &:focus-visible 
                {
                    box-shadow: 0 0 3px #fe4819;
                    border-color: #fe4819;
                    outline: none;
                }
            }

            button { @include orangebtn; }
            button:hover { @include orangebtnhover; }
        }
    }

    td.orderid input { width: 40px; }

    td.quantity { text-align: center; }

    td.payment { text-align: center; }

    .data-row:hover
    {
        background-color: #efefef;
    }

    th { font-size: 18px; }

    .order-actions
    {
        a
        {

            display: flex;
            padding-right: 10px;
            align-content: center;
            text-decoration: none;
            font-size: 16px;
            color: #6c6c6c;
            transition: all 0.3s;

            i
            {
                color: #6c6c6c;
                transition: all 0.3s;
                padding: 3px 20px 0 0;
            }
        }

        a:hover
        {
            color: #fe4819;

            i { color: #fe4819; }
        }
    }

    form.edit-status
    {
        display: none;
        position: absolute;
        right: 5%;
        background: white;
        padding: 20px;
        border-radius: 3px;
        box-shadow: 0 0 15px rgba(0,0,0,.3);
        gap: 100px;

        select
        {
            font-size: 18px;
        }

        button
        {
            padding: 10px;
            width: 100px;
            text-align: center;
            position: relative;
            margin-top: 20px;

            &.update { @include orangebtn; }
            &.update:hover { @include orangebtnhover; }

            &.cancel { @include regularbtn; }
            &.cancel:hover { @include regularbtnhover; }
        }
    }
}