.order-status
{
    display: flex;

    .stepinfo
    {
        text-align: center;
        padding: 15px 25px;

        .statpoint
        {
            border-radius: 50%;
            border: 6px solid #bebec0;
            background-color: #fff;
            height: 50px;
            width: 50px;
            font-weight: bold;
            line-height: 35px;
            font-size: 16px;
            margin: 0 22px;

            &::after
            {
                content: '';
                position: absolute;
                border-bottom: 6px solid #bebec0;
                width: 95px;
                padding-top: 15px;
                margin-left: 20px;
            }

            &.past
            {
                border-color: #fe4819;
                &::after { border-color: #fe4819; }
            }

            &.current
            {
                border-color: #fe4819;
                background-color: #fe4819;
                color: #fff;
                font-size: 20px;
            }
        }

        .statdesc
        {
            text-align: center;
        }

        &:last-child .statpoint::after { display: none; }
    }
}