.profile-menu
{
    &:hover
    {
        #profile-menu-dropdown
        {
            transition: all 0.3s;
            opacity: 1;
        }
    }

    #profile-menu-dropdown
    {
        background-color: #6c6c6c;
        position: absolute;
        z-index: 999;
        width: 109.2px;
        padding-bottom: 0;
        opacity: 0;
        transition: all 0.3s;

        .profile-links
        {
            padding: 0;
            margin: 0;

            a
            {
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
            }

            li
            {
                list-style-type: none;
                padding: 10px;

                &:hover {
                    background-color: #fe4819;
                }
                &.active {
                    background-color: #fe4819;
                }
            }
        }
    }
}

