#StaffManagement
{
    h1 
    {
        font-size: 50px;
        font-weight: bold;
        padding: 30px;
        text-align: center;
    }

    img.bikephoto
    {
        max-height: 80px;
        min-width: 80px !important;
    }

    table 
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    tr:nth-child(even)
    {
        background-color: white;
    }

    th 
    {
        font-size: 20px;
        padding: 20px 0;
        border-bottom: 1px solid gray;
        text-align: center;
    }

    td
    {
        padding: 10px 40px;
        font-size: 20px;
        border-bottom: 1px solid gray;

        .bikeactions
        {
            display: flex;
            
            a
            {
                margin: 0 10px;
                padding: 10px;
                width: 100px;
                border-radius: 10px;
                color: black;
                text-align: center;
                &.view { background-color: #b2d2ff;}
                &.edit { background-color: #ffe291;}
                &.quant { background-color: #ffcc9c;}
                &.delete { background-color: #ffb3b3;}
            }
        }

        form.edit-quantity
        {
            display: none;
            position: fixed;
            left: 52%;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,.3);

            button, button input
            {
                padding: 10px;
                width: 100px;
                border-radius: 10px;
                color: black;
                text-align: center;
                position: relative;

                &.update
                {
                    background-color: #96ebb6;

                }

                &.cancel
                {
                    background-color: #cdcdcd;
                    right: -25%;
                }
            }
        }
    }

    .Create
    {
        background-color: #9fddad;
        color: black;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
        margin: 20px;
    }
}

#BikeFilters
{
    form 
    {
        margin: 20px;
        font-size: 20px;
        display: flex;

        label
        {
            margin-right: 10px;
            position: relative;
            transform: translateY(20%);
        }

        select
        {
            margin-right: 30px;
        }

        .Filter 
        {
            background-color: gainsboro;
            font-size: 20px;
            font-weight: bold;
            padding: 10px 30px;
            border-radius: 10px;
        }
    }
}